body {
background-color: #CC99FF;
color: #6600CC;
font-family: playfair-display, courier-new, times-new-roman;
}
h1 {
color: #00FF00;
font-family: comic-sans-SMS, impact, comfortaa;
}
h2 {
color: #FF5050;
font-family: marcellus, michroma, pacifico;
}